@model Education.Entity.Admin.Videos.AllVideosDetails
@{
    ViewBag.Title = "AddVideo";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <link rel="stylesheet" href="//releases.flowplayer.org/7.2.1/skin/skin.css">

}
<style>
    table tr td {
        padding: 10px;
    }
</style>
<div class="col-xs-12 Addstudent-bg xs-side-no-pad">
    <div class="col-xs-12 col-sm-10 col-lg-9 col-md-offset-2 col-lg-offset-3 pad-top-20 pad-bottom-20 white-color xs-side-no-pad">
        <div class="col-xs-12 col-sm-9 col-md-6 xs-side-no-pad">
            <div class="col-xs-12 pad-bottom-20">
                <h4>Select Categories to upload</h4>
            </div>
            <div class="col-xs-12 pad-bottom-20" style="color:red">
                @ViewBag.Message
            </div>
            @using (Html.BeginForm("AddVideo", "Videos", FormMethod.Post, new { enctype = "multipart/form-data" }))

            {
                <div class="col-xs-12 pad-bottom-20">
                    <div class="col-xs-3 side-no-pad">
                        Course
                    </div>
                    <div class="col-xs-9">
                        @*<select class="form-control text-color fw-bold"></select>*@
                        @*@Html.DropDownListFor(m => m.CourseMaster.NAME, new SelectList(Model.CourseList, "ID", "NAME"), "  -----Select Course-----  ")*@
                        @Html.DropDownListFor(model => model.CourseMaster.ID, new SelectList(Model.CourseList, "ID", "NAME"), "Please select", new { @class = "form-control text-color fw-bold" })

                        @Html.ValidationMessageFor(m => m.CourseMaster.ID)
                    </div>
                </div>
                <div class="col-xs-12 pad-bottom-20">
                    <div class="col-xs-3 side-no-pad">
                        Subject
                    </div>
                    <div class="col-xs-9">
                        @*<select class="form-control text-color fw-bold"></select>*@
                        @*@Html.DropDownListFor(model => model.SubjectMaster.SUBJECTNAME, new SelectList(Model.SubjectList, "SUBJECTID", "SUBJECTNAME"), "  -----Select Subject-----  ")*@
                        @Html.DropDownListFor(model => model.SubjectMaster.SUBJECTID, new SelectList(Model.SubjectList, "SUBJECTID", "SUBJECTNAME"), "Please select", new { @class = "form-control text-color fw-bold" })
                        @Html.ValidationMessageFor(m => m.SubjectMaster.SUBJECTID)
                    </div>
                </div>
                <div class="col-xs-12 pad-bottom-20">
                    <div class="col-xs-3 side-no-pad">

                    </div>
                    <div class="col-xs-9">
                        <label for="my-file-selector">

                            <input id="my-file-selector" accept="video/3gpp,video/m4v,video/mp4,video/mpeg,video/ogg,video/quicktime,video/webm,video/x-ms-wmv" name="postedFile"
                                   type="file" style="">

                            @*Choose files to upload*@
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 pad-bottom-20">
                    <div class="col-xs-3 side-no-pad">

                    </div>
                    <div class="col-xs-9">
                        <div class="tab">
                            <input type="submit" id="btnUpload" class="btn btn-sucesss" style="background-color:dodgerblue" value="Upload" />
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>

</div>
