@model PagedList.IPagedList<Education.Entity.Admin.TestDetails>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ListTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="~/assets/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
@*<script type="text/javascript">
    $(document).on("click", ".editChk", function (e) {
        debugger;
        e.preventDefault();
        var selectedID = $(this).data('todo').id;
        var selectedName = $(this).data('todo').FirstName;
        var selectedlastname = $(this).data('todo').LASTNAME;
        var selectedMiddleName = $(this).data('todo').MIDDLENAME;

        //var myBookId = $('#todolink').data('todo').id;
        //var FirstName = $('#todolink').data('todo').FirstName;
        $('#MyId').val(selectedID);
        $('#FirstName').val(selectedName);
        $('#Lastname').val(selectedlastname);
        $('#middlename').val(selectedMiddleName);


        //$(".modal-body #bookId").val(myBookId);
        // As pointed out in comments,
        // it is superfluous to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });
</script>*@
 
@*<script type="text/javascript">
    if (ViewBag.message != null) {
        window.onload = function () {
            alert("@ViewBag.message");
        };
    }
</script>*@
           
<div class="col-xs-12 home-bg">
    <div class="col-xs-12 col-md-10 col-md-offset-1 side-no-pad liststudent-table">
        <div class="table-responsive">
            @using (Html.BeginForm("ListTestDetail", "TestDetail", FormMethod.Post))
            {


                <div class="col-xs-12 side-no-pad mr-top-10">

                    <label for="StudentName" style="color:white">Search-Name</label>
                    @Html.TextBox("Search_Data", ViewBag.FilterValue as string)

                    <input type="submit" class="btn btn-sucesss" value="Find" style="background-color:dodgerblue" />

                </div>


            }
            <table class="table">
                <tr class="table-head">
                   
                    <td>@Html.ActionLink("TESTID", "ListTestDetail", new { Sorting_Order = ViewBag.SortingUserID })  </td>
                    <td>@Html.ActionLink("TITLE", "ListTestDetail", new { Sorting_Order = ViewBag.SortingName })  </td>
                    <td>@Html.ActionLink("SUBJECTID", "ListTestDetail", new { Sorting_Order = ViewBag.SortingName })  </td>
                    <td>@Html.ActionLink("PUBLISHDATE", "ListTestDetail", new { Sorting_Order = ViewBag.SortingDate })  </td>
                    @*<td>Action</td>*@
                </tr>
                @foreach (var item in Model)
                {
                    <tr class="table-body">
                        <td class="idcol1">
                            @item.TESTID
                            @{
                                ViewBag.TESTID = item.TESTID;
                            }
                        </td>
                        <td>
                            @item.TITLE
                        </td>
                        <td>
                            @item.SUBJECTID
                        </td>
                        <td>
                            @item.PUBLISHDATE
                        </td>
                        @*<td>
                            @item.COURSEID
                        </td>*@
                        
                    </tr>
                                }
                @*<tr class="table-body">
                        <td>1</td>
                        <td>
                            <ul>
                                <li>Michel Jo</li>
                                <li>8963032904</li>
                            </ul>
                        </td
                        <td>
                            <ul>
                                <li>Michel Jo</li>
                                <li>8963032904</li>
                            </ul>
                        </td>
                        <td>08 Aug.2016</td>
                        <td><i class="fa fa-cogs" aria-hidden="true"></i></td>
                    </tr>*@
            </table>
            @Html.PagedListPager(Model, Page_No => Url.Action("ListTestDetail", new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))
        </div>
    </div>
    
</div>