@model Education.Entity.Students.AllDetails
@{
    ViewBag.Title = "AddStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-xs-12 Addstudent-bg white-color">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 pad-top-20 row">
        <div class="row">
            <div class="tab row ">
                <button class="tablinks" onclick="openCity(event, 'student')" id="defaultOpen">Student Details</button>
                <button class="tablinks" onclick="openCity(event, 'parent')">Parent Details</button>
                <button class="tablinks" onclick="openCity(event, 'professional')">Professional Details</button>
                @*<button class="tablinks" onclick="openCity(event, 'other')">Other Details</button>*@
            </div>
        </div>
        @using (Html.BeginForm("AddStudentDetails", "Student", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @*@ViewBag.message*@
            if (ViewBag.message != null)
            {
                <script type="text/javascript">
                    window.onload = function () {
                        alert("@ViewBag.message");
                    };
                </script>
            }
            <div id="student" class="tabcontent">
                <div class="col-xs-12 side-no-pad row">
                    <div class="col-xs-12 md-12 row side-no-pad mr-top-10 xs-details">
                        <div class="col-xs-12 col-md-2 side-no-pad pad7 wh">
                            Student Name
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-2 xs-details as-left">
                            @*<input type="email" class="form-control" placeholder="First Name">*@
                            @Html.EditorFor(model => model.StudentDetails.FIRSTNAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name", required = "required" } })
                            @Html.ValidationMessageFor(model => model.StudentDetails.FIRSTNAME, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-2 xs-details">
                            @*<input type="email" class="form-control" placeholder="Middle Name">*@
                            @Html.EditorFor(model => model.StudentDetails.MIDDLENAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Middle Name", required = "required" } })
                            @Html.ValidationMessageFor(model => model.StudentDetails.MIDDLENAME, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-2 xs-details">
                            @*<input type="email" class="form-control" placeholder="Last Name">*@
                            @Html.EditorFor(model => model.StudentDetails.LASTNAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name", required = "required" } })
                            @Html.ValidationMessageFor(model => model.StudentDetails.LASTNAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 row side-no-pad mr-top-10 xs-details">
                        @*<div class="col-xs-12 side-no-pad mr-top-10">
                            <div class="col-xs-12 col-sm-5 side-no-pad pad7 xs-details">
                                Registration Date
                            </div>
                            <div class="col-xs-12 col-sm-7">
                                <select class="form-control">
                                    <option>29 september 2017</option>
                                    <option>29 september 2017</option>
                                    <option>29 september 2017</option>
                                    <option>29 september 2017</option>
                                    <option>29 september 2017</option>
                                </select>
                            </div>
                        </div>*@
                        <div class="col-xs-12 side-no-pad mr-top-10">
                            <div class="col-xs-12 col-sm-5 side-no-pad pad7 xs-details">
                                Date of Birth:
                            </div>
                            <div class="col-xs-12 col-sm-7">
                                @Html.EditorFor(model => model.StudentDetails.DOB, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.StudentDetails.DOB, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-xs-12 side-no-pad mr-top-10">
                            <div class="col-xs-12 col-sm-5 side-no-pad pad7 xs-details">
                                Course:
                            </div>
                            <div class="col-xs-12 col-sm-7 course-type">
                                @*@foreach (var item in Model.CourseList)
                                    {
                                     <input id="chk@(item.Value)"
                                            type="checkbox"
                                            value="@item.ID"
                                            checked="@item.IsChecked" name="checkResp"   />
                                     @item.NAME <br />
                                    }*@
                                @for (int i = 0; i < Model.CourseList.Count; i++)
                                {
                                    @Html.HiddenFor(m => m.CourseList[i].ID)

                                    @Html.CheckBoxFor(m => m.CourseList[i].IsChecked)
                                    @Html.LabelFor(m => m.CourseList[i].IsChecked, Model.CourseList[i].NAME)
                                }
                            </div>
                        </div>
                        <div class="col-xs-12 side-no-pad mr-top-10 pad-top-10 xs-details">
                            <div class="col-xs-12 col-md-5 side-no-pad">
                                Gender
                            </div>
                            <div class="col-xs-12 col-md-7">
                                Male  @Html.RadioButtonFor(model => model.StudentDetails.Gender, "Male")
                                Female @Html.RadioButtonFor(model => model.StudentDetails.Gender, "Female")
                            </div>
                        </div>
                        <div class="col-xs-12 side-no-pad mr-top-10 pad-bottom-20 xs-details">
                            <div class="col-xs-12 col-md-5 side-no-pad pad7 wh">
                                Nationality
                            </div>
                            <div class="col-xs-12 col-md-7 pad-bottom-10">
                                @*<select class="form-control">
                                        <option>India</option>
                                    </select>*@
                                @Html.EditorFor(model => model.StudentDetails.NATIONALITY, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.StudentDetails.NATIONALITY, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-5 col-md-offset-1 row side-no-pad mr-top-10 xs-details">
                        <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                            <div class="col-xs-12 col-md-5 side-no-pad pad7 wh">
                                Father Name
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-7 xs-details">
                                @*<input type="email" class="form-control" placeholder="First Name">*@
                                @Html.EditorFor(model => model.StudentDetails.FATHERNAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Father's Name", required = "required" } })
                                @Html.ValidationMessageFor(model => model.StudentDetails.FATHERNAME, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                            <div class="col-xs-12 col-md-5 side-no-pad pad7 wh">
                                Mother Name
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-7 xs-details">
                                @*<input type="email" class="form-control" placeholder="First Name">*@
                                @Html.EditorFor(model => model.StudentDetails.MOTHERNAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mother's Name", required = "required" } })
                                @Html.ValidationMessageFor(model => model.StudentDetails.MOTHERNAME, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                            <div class="col-xs-12 col-md-5 side-no-pad pad7 wh">
                                Mobile Number
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-7 xs-details">
                                @*<input type="email" class="form-control" placeholder="First Name">*@
                                @Html.EditorFor(model => model.StudentDetails.MOBILENO, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.StudentDetails.MOBILENO, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                            <div class="col-xs-12 col-md-5 side-no-pad pad7 wh">
                                Email Id:
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-7 xs-details">
                                @*<input type="email" class="form-control" placeholder="First Name">*@
                                @Html.EditorFor(model => model.StudentDetails.EMAILID, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                @Html.ValidationMessageFor(model => model.StudentDetails.EMAILID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 side-no-pad addstudent-table row">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr class="table-head">
                                    <td>Class</td>
                                    <td>Name of School/Institute</td>
                                    <td>Board</td>
                                    <td>Year of Passing</td>
                                    <td>Percentage</td>
                                    <td></td>
                                </tr>
                                <tr class="table-body">
                                    <td>
                                        @Html.DropDownListFor(model => model.ClassesMaster.ClassID, new SelectList(Model.ClassesList, "ClassID", "ClassName"), "Please select")
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.StudentDetails.INSTITUTIONNAME, new { htmlAttributes = new { @class = "form-control" , required = "required" } })
                                    </td>
                                    @*<td><input type="text" name="" placeholder="Delhi University"></td>*@
                                    <td>
                                        @Html.DropDownListFor(model => model.BoardsMaster.BoardID, new SelectList(Model.BoardsList, "BoardID", "BoardName"), "Please select")
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.StudentDetails.PASSINGYEAR, Enumerable.Range(1950, 68).ToList().Select(x => new SelectListItem { Text = x.ToString() }), "Year")
                                    </td>
                                    <td>
                                        @*<input type="text" name="" placeholder="80%" class="max-widthinput">*@
                                        @Html.EditorFor(model => model.StudentDetails.percentage, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    </td>
                                    <td class="pad14"><a href="">Remove</a></td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <div class="col-xs-12 side-no-pad add-btn row">
                        <div class="col-xs-4 side-no-pad">
                            @*<a href="">Add</a>*@
                            @*<input type="submit" value="AddStudent" class="btn btn-default" />*@
                            <div class="tab">
                                <input type="submit" class="btn btn-sucesss" style="background-color:dodgerblue" value="AddStudent" />
                                @*<a href="">Add</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        }
        @using (Html.BeginForm("AddParentDetails", "Student", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div id="parent" class="tabcontent">
                <div class="col-xs-12 side-no-pad">
                    <div class="col-xs-12 col-md-6 row side-no-pad mr-top-10 xs-details">
                        <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                            <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                                <div class="col-xs-12 col-md-5 side-no-pad pad7 wh">
                                    FATHERNAME
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-7 xs-details">
                                    @*<input type="email" class="form-control" placeholder="First Name">*@
                                    @Html.EditorFor(model => model.ParentDetails.FATHERNAME, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.ParentDetails.FATHERNAME, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                            <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                                <div class="col-xs-12 col-md-5 side-no-pad pad7 wh">
                                    FATHEREMAIL
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-7 xs-details">
                                    @*<input type="email" class="form-control" placeholder="First Name">*@
                                    @Html.EditorFor(model => model.ParentDetails.FATHEREMAIL, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.ParentDetails.FATHEREMAIL, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                            <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                                <div class="col-xs-12 col-md-5 side-no-pad pad7 wh">
                                    FATHERMOBILENUMBER
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-7 xs-details">
                                    @*<input type="email" class="form-control" placeholder="First Name">*@
                                    @Html.EditorFor(model => model.ParentDetails.FATHERMOBILENUMBER, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.ParentDetails.FATHERMOBILENUMBER, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                            <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                                <div class="col-xs-12 col-md-5 side-no-pad pad7 wh">
                                    FATHEROCCUPATION
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-7 xs-details">
                                    @*<input type="email" class="form-control" placeholder="First Name">*@
                                    @Html.EditorFor(model => model.ParentDetails.FATHEROCCUPATION, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.ParentDetails.FATHEROCCUPATION, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                            <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                                <div class="col-xs-12 col-md-5 side-no-pad pad7 wh">
                                    FATHERCOMPANYNAME
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-7 xs-details">
                                    @*<input type="email" class="form-control" placeholder="First Name">*@
                                    @Html.EditorFor(model => model.ParentDetails.FATHERCOMPANYNAME, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.ParentDetails.FATHERCOMPANYNAME, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                            <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                                <div class="col-xs-12 col-md-5 side-no-pad pad7 wh">
                                    FATHERDESIGNATION
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-7 xs-details">
                                    @*<input type="email" class="form-control" placeholder="First Name">*@
                                    @Html.EditorFor(model => model.ParentDetails.FATHERDESIGNATION, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.ParentDetails.FATHERDESIGNATION, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-5 col-md-offset-1 row side-no-pad mr-top-10 xs-details">
                        <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                            <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                                <div class="col-xs-12 col-md-6 side-no-pad pad7 wh">
                                    MOTHERNAME
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-6 xs-details">
                                    @*<input type="email" class="form-control" placeholder="First Name">*@
                                    @Html.EditorFor(model => model.ParentDetails.MOTHERNAME, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.ParentDetails.MOTHERNAME, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                            <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                                <div class="col-xs-12 col-md-6 side-no-pad pad7 wh">
                                    MOTHEREMAIL
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-6 xs-details">
                                    @*<input type="email" class="form-control" placeholder="First Name">*@
                                    @Html.EditorFor(model => model.ParentDetails.MOTHEREMAIL, new { htmlAttributes = new { @class = "form-control" , required = "required" } })
                                    @Html.ValidationMessageFor(model => model.ParentDetails.MOTHEREMAIL, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                            <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                                <div class="col-xs-12 col-md-6 side-no-pad pad7 wh">
                                    MOTHERMOBILENUMBER
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-6 xs-details">
                                    @*<input type="email" class="form-control" placeholder="First Name">*@
                                    @Html.EditorFor(model => model.ParentDetails.MOTHERMOBILENUMBER, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.ParentDetails.MOTHERMOBILENUMBER, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                            <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                                <div class="col-xs-12 col-md-6 side-no-pad pad7 wh">
                                    MOTHEROCCUPATION
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-6 xs-details">
                                    @*<input type="email" class="form-control" placeholder="First Name">*@
                                    @Html.EditorFor(model => model.ParentDetails.MOTHEROCCUPATION, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.ParentDetails.MOTHEROCCUPATION, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                            <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                                <div class="col-xs-12 col-md-6 side-no-pad pad7 wh">
                                    MOTHERCOMPANYNAME
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-6 xs-details">
                                    @*<input type="email" class="form-control" placeholder="First Name">*@
                                    @Html.EditorFor(model => model.ParentDetails.MOTHERCOMPANYNAME, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.ParentDetails.MOTHERCOMPANYNAME, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                            <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                                <div class="col-xs-12 col-md-6 side-no-pad pad7 wh">
                                    MOTHERDESIGNATION
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-6 xs-details">
                                    @*<input type="email" class="form-control" placeholder="First Name">*@
                                    @Html.EditorFor(model => model.ParentDetails.MOTHERDESIGNATION, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.ParentDetails.MOTHERDESIGNATION, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 side-no-pad add-btn row">
                        <div class="col-xs-4 side-no-pad">
                            @*<a href="">Add</a>*@
                            <input type="submit" class="btn btn-success" value="AddParent" style="background-color:dodgerblue" />
                        </div>
                    </div>
                </div>
            </div>
        }
        @using (Html.BeginForm("AddProfessionalDetails", "Student", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div id="professional" class="tabcontent">
                <div class="col-xs-12 side-no-pad">
                    <div class="col-xs-12 col-md-6 row side-no-pad mr-top-10 xs-details">
                        <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                            <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                                <div class="col-xs-12 col-md-5 side-no-pad pad7 wh">
                                    COMPANYNAME
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-7 xs-details">
                                    @*<input type="email" class="form-control" placeholder="First Name">*@
                                    @Html.EditorFor(model => model.ProfessionalDetails.COMPANYNAME, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.ProfessionalDetails.COMPANYNAME, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                            <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                                <div class="col-xs-12 col-md-5 side-no-pad pad7 wh">
                                    COMPANYNAME
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-7 xs-details">
                                    @*<input type="email" class="form-control" placeholder="First Name">*@
                                    @Html.EditorFor(model => model.ProfessionalDetails.COMPANYNAME, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.ProfessionalDetails.COMPANYNAME, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                            <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                                <div class="col-xs-12 col-md-5 side-no-pad pad7 wh">
                                    DESIGNATION
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-7 xs-details">
                                    @*<input type="email" class="form-control" placeholder="First Name">*@
                                    @Html.EditorFor(model => model.ProfessionalDetails.DESIGNATION, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.ProfessionalDetails.DESIGNATION, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-5 col-md-offset-1 row side-no-pad mr-top-10 xs-details">
                        <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                            <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                                <div class="col-xs-12 col-md-5 side-no-pad pad7 wh">
                                    EMPLOYEETYPE
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-7 xs-details">
                                    @*<input type="email" class="form-control" placeholder="First Name">*@
                                    @Html.EditorFor(model => model.ProfessionalDetails.EMPLOYEETYPE, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.ProfessionalDetails.EMPLOYEETYPE, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                            <div class="col-xs-12 side-no-pad mr-top-10 xs-details">
                                <div class="col-xs-12 col-md-5 side-no-pad pad7 wh">
                                    REMARKS
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-7 xs-details">
                                    @*<input type="email" class="form-control" placeholder="First Name">*@
                                    @Html.EditorFor(model => model.ProfessionalDetails.REMARKS, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.ProfessionalDetails.REMARKS, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 side-no-pad add-btn row">
                        <div class="col-xs-4 side-no-pad">
                            @*<a href="">Add</a>*@
                            <input type="submit" class="btn btn-success" value="AddProfessional" style="background-color:dodgerblue" />
                        </div>
                    </div>
                </div>
            </div>
        }
        <div id="other" class="tabcontent">
            <div class="col-xs-12 side-no-pad">
                <div class="col-xs-12 side-no-pad mr-top-10  xs-details">
                    <div class="col-xs-12 col-md-2 side-no-pad pad7 wh">
                        Source
                    </div>
                    <div class="col-xs-12 col-md-2">
                        <select class="form-control">
                            <option>Email</option>
                            <option>29 september 2017</option>
                            <option>29 september 2017</option>
                            <option>29 september 2017</option>
                            <option>29 september 2017</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 side-no-pad mr-top-10 pad-bottom-20 xs-details">
                    <div class="col-xs-12 col-md-2 side-no-pad pad7 wh">
                        Reference
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-2 xs-details">
                        <input type="email" class="form-control" placeholder="Enter Name">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 side-no-pad add-btn">
                <div class="col-xs-1 side-no-pad">
                    @*<a href="">Add</a>*@
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
</script>
